@{
    ViewBag.Title = "Về chúng tôi";
}
<style>
    blockquote {
        font-size: 100%;
        text-align: center;
    }

    body {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg,rgba(135,206,250,0.5),rgba(245,245,245,0.5)), url(https://patternanddesign.com/wp-content/uploads/2019/01/ogee.jpg);
        background-size: 1px;
    }
</style>
<body>
    <h2><i>Câu chuyện khởi nghiệp</i></h2>
    <blockquote>
        <b>Câu chuyện thành công của một Shop online khởi nghiệp từ 3 triệu đồng</b><br />
        Hẳn những ai là tín đồ của shopping online đều một lần biết đến cái tên shop Lucci của ông chủ Duy Luân trên các diễn đàn mua rẻ, enbac, và quen thuộc nhất vẫn là facebook cùng tên.<br />
        Trung bình hàng hàng ngày Luân phải trả lời hàng trăm comment mua hàng trên mạng và tiếp nhiều lượt khách đến tận nhà mua hàng.<br />
        <b>Khởi nghiệp từ 3 triệu đồng</b><br />
        Xuất phát từ việc mua bán quần áo cũ “nhì nhằng” trên diễn đàn mua rẻ, thấy việc buôn bán trên mạng cũng khá dễ dàng Luân mạnh dạn kinh doanh quần áo mới.<br />
        Nhưng ngặt một nỗi đồ mới thì không thể bán với giá như đồ cũ, phải bán với giá trị thực của nó, nhưng tăng giá liền bị những thành viên khác trong diễn đàn “góp ý”, chính vì thế Luân quyết định mở một blog shop online để được thoả sức hoạt động trong lĩnh vực thời trang. Và cái tên Lucci ra đời từ đó.<br />
        Với 3 triệu đồng vay của mẹ, những ngày đầu bắt tay vào bán hàng, Luân phải quay vòng vốn, bán được lãi bao nhiêu, cô bạn lại đầu tư hết vào việc mua hàng, lựa chọn những mẫu mới nhất và hợp thời trang nhất.<br />
        Với niềm đam mê thời trang và có con mắt nghệ thuật, những mẫu quấn áo Luân đặt mua từ Quảng Châu luôn thu hút được sự chú ý của các bạn trẻ.<br />
        Dần dần, Luân đã chủ động được vốn và bắt đầu làm ăn có lãi. Tính đến năm 2008 đã có khoảng 150 bài được post lên và gần 2000 mẫu quần áo, dày dép được giới thiệu trên blog, lượng truy cập lên đến 451.110 lượt, đến nay chắc con số đó còn phải lớn hơn rất nhiều lần, Lucci đã trở thành địa chỉ mua sắm tin cậy của nhiều bạn trẻ.<br />
        Khách hàng mục tiêu của shop là các bạn gái trong độ tuổi từ 16 -23, những mẫu quần áo ở đây có phong cách trẻ trung, kiểu dáng, màu sắc phù hợp với lứa tuổi....<br />
        Trích từ bài viết <b><i>"Kỹ năng bán hàng"</i></b>.
    </blockquote>
</body>