@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg,rgba(135,206,250,0.5),rgba(245,245,245,0.5)), url(https://patternanddesign.com/wp-content/uploads/2019/01/ogee.jpg);
        background-size: 1px;
    }
</style>
<body>
    <h2><i>Liên hệ với chúng tôi</i></h2>

    <address>
        Văn phòng làm việc Lucci<br />
        Citi Home, đường 71 Cát Lái quận 2 thành phố Hồ Chí Minh<br />
        <abbr title="Phone">HotLine:</abbr>
        092.2386.266
    </address>

    <address>
        <strong>Chăm sóc khách hàng:</strong>   <a href="mailto:maiduyluan@gmail.com">maiduyluan@gmail.com</a><br />
        <strong>Liên hệ kinh doanh:</strong> <a href="mailto:tranthanglong502@gmail.com">tranthanglong502@gmail.com</a>
    </address>
</body>