@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg,rgba(135,206,250,0.5),rgba(245,245,245,0.5)), url(https://patternanddesign.com/wp-content/uploads/2019/01/ogee.jpg);
        background-size: 1px;
    }
</style>
<body>
    <div class="jumbotron">
        <h1>Lucci</h1>
        <p class="lead" style="color:gray">
            Chúng tôi mang đến cho bạn sự chăm sóc tận tình và chu đáo<br />
            Bắt nguồn từ những sản phẩm chính hãng tốt nhất<br />
            Với chính sách đổi trả nhanh chóng<br />
            Và chế độ bão hành tốt nhất
        </p>
        <p><a href="~/Home/About" class="btn btn-primary btn-large">Tìm hiểu thêm về chúng tôi &raquo;</a></p>
    </div>
</body>